.a {
    width: 58%;
    margin-left: auto;
    font-size: 35px;
    margin-top: 300px;
}
span {
    background-color: rgb(20, 246, 0);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
}
a {
    color: black;
}
body {
    background-color: rgb(24, 24, 24);
}
p {
    color: #aaa9a9;
    font-size: xx-large;
    margin-left: 40px;
}
video {
    margin-left: 930px;
    border-color: black;
    margin-bottom: 600px;



}
.img1 {
    margin-top: 200px;

}
.gameov {
    margin-left: 500px;
}




























